<!-- <div class="products__content">
  <div class="product">
    <img src="/frontend/public/img/fresas.png" alt="Fresas">
    <p>Fresas</p>
  </div>
  <div class="product">
    <img src="/frontend/public/img/mangos.png" alt="mangos">
    <p>mangos </p>
  </div>
  <div class="product">
    <img src="/frontend/public/img/manzanas.png" alt="manzanas">
    <p>manzana roja</p>
  </div>
  <div class="product">
    <img src="/frontend/public/img/peras.png" alt="peras">
    <p>peras</p>
  </div>
</div> -->